
@import url('../../static/skeleton-2.0.4/css/normalize.css');
@import url('../../static/skeleton-2.0.4/css/skeleton.css');

form {
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
